:root {
  --translate: 0px;
  --xDegrees: 3deg;
  --yDegrees: 0;
  --blue: rgba(29, 46, 55, 0.99);
}

.App {
  text-align: center;
  font-family: nunito;
}
html {
  box-sizing: border-box;
  background: white;
  font-size: 20px;
  font-weight: 200;
}
body {
  margin: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.site-wrap {
  background: white;

  text-align: center;
  display: grid;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  z-index: 1;
}

body.fixed-nav .site-wrap {
  transform: scale(1);
}

header {
  overflow: hidden;
  z-index: 0;
}
@keyframes header {
  from {
    transform: skew(-0.4deg, 0);
  }
  to {
    transform: skew(0.4deg, 0);
  }
}
.parallax-box {
  height: 60vh;
  transform: translateY(var(--translate));
}

.header-box {
  height: 60vh;
  background-image: url(william-bout-264826.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  animation-name: header;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

.header-box-warp {
  transform: translateY(var(--translate));
}

.z-logo {
  position: relative;
  background: url(z-logo.svg) bottom center no-repeat;
  background-size: contain;
  background-position: center;
  height: 35%;
  width: 50%;
  left: 1800px;
  -webkit-transition: 4s ease-in-out;
  -moz-transition: 4s ease-in-out;
  -o-transition: 4s ease-in-out;
  transition: 4s ease-in-out;
  transform: skew(var(--xDegrees), var(--yDegrees));
}

.z-logo-warp {
  transform: skew(-3deg, 0);
}

.z-logo-reveal {
  left: 0;
}
.z-logo-small {
  background: url(z-logo.svg) bottom center no-repeat;
  background-size: contain;
  height: 35px;
  width: 150px;
}

.outer-padding {
  padding: 40px;
}

h1 {
  color: black;
  margin: 0;
  font-size: 8vw;
  font-weight: 400;
}
h2 {
  font-size: 4vw;
  font-weight: 400;
}
h3 {
  font-size: 3vw;
  margin: 0;
  font-weight: 400;
}
h4 {
  font-weight: 400;
  font-size: 2.3vw;
  margin: 10px;
  -webkit-transition: 0.05s ease;
  -moz-transition: 0.05s ease;
  -o-transition: 0.05s ease;
  transition: 0.5s ease;
}
.home {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 14vw auto;
}
.title {
  grid-column: 1 / 6;
}
.quote-box {
  display: grid;
  grid-template-rows: 20% 50% 30%;
  flex-direction: row;
  grid-column: span 5;
  height: 70vh;
  text-align: center;
  align-items: f;
  background: url('./images/glasses.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 60%;
}
.quote {
  font-size: 2.3vw;
  grid-row: 2;
  text-align: center;
  align-items: baseline;
}
.quote-transition {
  opacity: 0;
}

.who-am-i {
  grid-column: 1 / 6;

  display: grid;
  grid-template-columns: 10% 10% 80%;
  color: var(--blue);
}

.who-am-i h2 {
  grid-column: 1/4;
}

.zach-photo {
  background: url('./images/zach.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 15vw;
  width: 15vw;
  grid-column: 1/3;
  justify-self: center;
  align-self: center;
  border-radius: 50%;
}

.bio {
  grid-column: 3/4;
}

/***********WHAT I USE******************/

.technologies {
  width: 100vw;
  padding: 40px;
  background: white;
  grid-column: span 5;

  grid-template-columns: 25% 25% 25% 25%;
  justify-self: center;
}
.what-i-use {
  color: black;
  display: grid;
  grid-column: span 4;
}

.icon {
  display: inline-block;
  height: 100px;
  width: 100px;
  margin: 45px;
  background: black;

  justify-self: center;
}

.icon-1 {
  background: url('./images/html5.svg');
}
.icon-2 {
  background: url('./images/CSS3.svg');
}
.icon-3 {
  background: url('./images/JS.svg');
}
.icon-4 {
  background: url('./images/React.svg');
}
.icon-5 {
  background: url('./images/git.svg');
}
.icon-6 {
  background: url('./images/heroku.svg');
}
.icon-7 {
  background: url('./images/jQuery.svg');
}
.icon-8 {
  background: url('./images/Node.svg');
}
.icon-9 {
  background: url('./images/wordpress.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.icon-10 {
  background: url('./images/firebase.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.icon-11 {
  background: url('./images/vue.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.icon-12 {
  background: url('./images/mongodb.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.icon-13 {
  background: url('./images/sass.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.icon-14 {
  background: url('./images/redux.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.icon-15 {
  background: url('./images/jest.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.icon-16 {
  background: url('./images/enzyme.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.blue {
  color: #5faff4;
}

nav {
  background: var(--blue);
  top: 0;
  width: 100%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
  z-index: 15;
}

body.fixed-nav nav {
  position: fixed;
  box-shadow: 0 5px 0 rgba(0, 0, 0, 0.1);
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

nav li {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav *:focus {
  outline: none;
}

li.logo {
  max-width: 0;
  overflow: hidden;
  background: white;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  font-weight: 600;
  font-size: 30px;
}

li.logo a {
  color: black;
}

.fixed-nav li.logo {
  max-width: 500px;
}

nav .navs {
  flex: 1;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
  color: white;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  text-transform: uppercase;
}

/*******PORTFOLIO*********/

.portfolio-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 15px 15px;
  grid-auto-flow: dense;
}

/*.portfolio-piece-outer {
  height: 100%;
  width: 100%;
  overflow: hidden;
}*/
.portfolio-piece-container {
  background: #f8f8f8;
  width: 100%;
  display: grid;
  position: relative;
  grid-template-columns: 10px auto 10px;
  align-items: center;
  justify-content: center;
  transform: scale(0.9);
  -webkit-transition: 0.1s ease;
  -moz-transition: 0.1s ease;
  -o-transition: 0.1s ease;
  transition: 0.1s ease;
  overflow: hidden;
  z-index: 3;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.portfolio-piece-container:hover {
  transform: scale(0.91);
  /* outline: 2px solid var(--blue); */
}

.expand {
  grid-column: span 2;

  z-index: 20;
}
.expand:hover {
  outline: 0px solid blue;
}

.project {
  align-self: center;
  justify-self: center;
}
.project-title {
  display: grid;
  grid-column: 1;
}
.project-image {
  display: grid;
  grid-column: 2/3;
  width: 70%;
}
.portfolio-piece-container > img {
  display: block;
  height: auto;
}

.project-description {
  background: #f8f8f8;
  grid-column: ;
  width: 100%;
  position: absolute;
  opacity: 0;

  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.project-description a {
  text-decoration: none;
  color: blue;
  font-size: 1.2em;
}
.show {
  opacity: 0.96;
  background: white;
  height: 100%;
  z-index: 5;
  overflow-y: auto;
  overflow-x: visible;
}

/*********CONTACT********/
form {
  width: 60%;
  min-width: 300px;
  margin: auto;
  align-items: center;
  -webkit-appearance: none;
}

form * {
  -webkit-appearance: none;
}
form *:focus {
  outline: none;
  -webkit-appearance: none;
}

.form-header {
  margin-top: 30px;
  font-size: 25px;
}
label {
  display: block;
  margin: 5px;
  position: relative;
  top: 15px;
  text-align: left;
  -webkit-appearance: none;
}
input:focus {
  border-bottom: 2px solid black;
  border-top: none;
  -webkit-appearance: none;
}

input {
  display: block;
  color: var(--blue);
  font-size: 20px;
  width: 100%;
  margin: auto;
  border: none;
  border-bottom: 1px solid black;
  border-top: 1px solid white;
  padding: 3px;
  padding-top: 10px;
  -webkit-transition: 0.05s ease;
  -moz-transition: 0.05 ease;
  -o-transition: 0.05 ease;
  transition: 0.05s ease;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 0px 0px;
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0px;
}

.submit {
  background-color: var(--blue);
  color: white;
  font-size: 23px;
  box-shadow: rgba(0, 0, 0, 0.54) 0px 3px 3px 0px;
  width: 180px;
  height: 70px;
  line-height: ;
  padding-bottom: 11px;
  text-align: center;
  border: none;
  margin: 30px auto;
  -webkit-transition: 0.05s ease;
  -moz-transition: 0.05s ease;
  -o-transition: 0.05s ease;
  transition: 0.5s ease;
  -webkit-appearance: none;
}

.submit:hover {
  background-color: grey;
  -webkit-appearance: none;
}

/********FOOTER*********/
.footer {
  position: relative;
  bottom: 0;
  background: var(--blue);
  color: white;
}

.footer span {
  font-weight: 600;
}

.footer a {
  text-decoration: none;
  color: white;
  padding: 0px 10px;
  margin: 10px 10px 15px 10px;
}
.footer p {
  padding-top: 10px;
  margin: 10px;
}

.footer a:hover {
  transform: scale(1.1);
}
.footer small {
  font-size: 0.7em;
}

/********680***************/
@media (max-width: 680px) {
  .z-logo {
    width: 70%;
  }
  .header-box {
    background-image: url(Image-small.jpg);
  }
}
/********500px************/
@media (max-width: 500px) {
  .logo {
    width: 0;
    flex: 0;
  }
  h1 {
    font-size: 10vw;
  }

  h2 {
    font-size: 6vw;
  }
  .title h3 {
    font-size: 4.3vw;
  }
  .z-logo {
    width: 80%;
  }

  .who-am-i h2 {
    position: relative;
    top: 15px;
  }

  .zach-photo {
    grid-column: 1/4;
    height: 20vw;
    width: 20vw;
  }
  .bio {
    grid-column: 1/4;
  }
  .who-am-i h4 {
    font-size: 2.2vh;
  }

  .quote {
    font-size: 4.3vw;
  }
  .portfolio-container {
    grid-template-columns: 100%;
  }

  .portfolio-piece-container {
    -webkit-transition: 0.01s ease;
    -moz-transition: 0.01s ease;
    -o-transition: 0.01s ease;

    transition: 0.01s ease;
    overflow-y: hidden;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .portfolio-piece-container:hover {
    transform: scale(0.9);
    outline: none;
  }
  .portfolio-piece-container:focus {
    outline: none;
  }
  .project-description,
  .expand {
    grid-column: span 1;
  }
}
